@font-face{font-family:"pixelated";src:url("/fonts/stan0753.eot?") format("eot"),url("/fonts/stan0753.woff") format("woff"),url("/fonts/stan0753.ttf") format("truetype"),url("/fonts/stan0753.svg#Standard0753") format("svg");font-weight:normal;font-style:normal}
body{margin:0;padding:0;font:14px pixelated;color:#333}
#container{margin:0 auto;padding:50px;width:600px}
h1{margin:0;padding:0;text-align:center;font-size:50px}
p.tagline,p.demo{text-align:center}
form{display:block;margin:0 auto;padding:15px;border:1px solid #ccc}
.field{margin-bottom:15px;zoom:1}
.field:before,.field:after{content:"";display:table}
.field:after{clear:both}
label{display:block}
input{font:12px pixelated}
.imageField{float:left}
#imageUri{width:40%;}
#imageUri input{display:inline-block;margin:0;padding:2px 5px;width:100%;border:1px solid #ccc}
#imageOr{height:30px;padding-top:15px;width:20%;text-align:center}
#imageFile{float:right;width:40%}
#scale{float:left;width:30%;}
#scale input{display:inline-block;margin:0;padding:2px 5px;width:35px;border:1px solid #ccc}
#coordinates{float:right;width:70%}
.coordinate{float:left;margin-right:15px}
#coordx1get,#coordy1get,#coordx2get,#coordy2get{display:inline-block;margin:0;padding:2px 5px;width:35px;border:1px solid #ccc}
.button{text-align:center;}
.button input{padding:5px 10px;border:1px solid #ccc;background:#efefef;cursor:pointer;}
.button input:hover{background:#ccc}
a{color:#00b7ff}
em{font-size:10px;color:#999}
